DJANGO_SECRET_KEY=dev-secret
DJANGO_SETTINGS_MODULE=core.settings.development

# Providers aceitos: claude, openai, gemini
LLM_PROVIDER=gemini
LLM_MODEL=models/gemini-flash-latest
LLM_API_KEY=coloque-sua-chave-aqui

# Usado apenas quando DJANGO_SETTINGS_MODULE=core.settings.production
POSTGRES_DB=chatbot
POSTGRES_USER=chatbot_user
POSTGRES_PASSWORD=chatbot_password
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Producao na EC2
EC2_PUBLIC_IP=seu-ip-publico
EC2_PUBLIC_DNS=seu-dns-publico
APP_DOMAIN=
CSRF_TRUSTED_ORIGIN=

# Porta publica do frontend no host EC2.
# Use 8080 se a porta 80 ja estiver ocupada.
FRONTEND_HTTP_PORT=8080
